# debug
/Debug
*.dSYM
play_wordle__debug

# misc
.DS_Store
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

# build related
build/*.o
play_wordle__debug

# test excecutables
_test*

# dev - we're committing the run/debug config files for vscode that
# are relevent to the PROJECT, not a developer's settings
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
